.test-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     max-width: 90%;
     padding: 10rem;
     gap: 3rem;
     box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.071);
     height: 100vh;
}
.test-input{
     width: 15rem;
     padding: 5px;
}